
.Components {
  padding: 5px;
  margin-bottom: 0%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 25% 75%;
  width: 100vw;
  height: 50vw;
  position: relative;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}



