
.Components {
  padding: 5px;
  margin-bottom: 0%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 25% 75%;
  width: 100vw;
  height: 50vw;
  position: relative;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 220px;
  background-color: #2f4050;
}

/* Alineacion de SideBar */

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  
}

/* Estilos a la columna y cambio de fuente */
.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Posicionamiento del cursor */
.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

/* Opcion ACtiva */
/* .SidebarList #active {
  background-color: #293846;
} */

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}


.row #title {
  flex: 70%;
}


